<h1>All Pages</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Body</th>
      <th>Slug</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pages.each do |page| %>
      <tr>
        <td><%= link_to page.title, edit_admin_page_path(page)  %></td>
        <td><%= truncate page.body, length: 100 %></td>
        <td><%= url_for_page(page) %></td>
        <td><%= link_to 'Destroy', admin_page_path(page), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<p> <%= link_to 'New Page', new_admin_page_path , class: "btn btn-primary"%> </p>
