<h1>
  Category: <%= @category.name%>
</h1>
<%= @category.pages.each do |page| %>
  <article class="clearfix">
    <h2>
      <%= link_to  page.title, url_for_page(page)%>
    </h2>
    <p class="text-muted">
      <%= page.created_at.to_formatted_s :long%>
    </p>
    <%= page.body.html_safe %>
  </article>
<% end %>
<hr>